<div class="head-dev">
    <p>Developpement et conception graphique</p>
    <div class="dev-tools">
        <div class="dev-tools-item">
            <img src="/assets/icons/git.png" alt="designer">
        </div>
        <div class="dev-tools-item">
            <img src="/assets/icons/iphone.png" alt="designer">
        </div>
        <div class="dev-tools-item">
            <img src="/assets/icons/design.png" alt="designer">
        </div>
    </div>
</div>
<div id="service" class="services">
    <div class="top-service">
        <div class="left-service">
            <h3>à propos</h3>
            <p>
                Titulaire d'un brevet de technicien supérieur en services informatiques aux organisations option B, actuellement en auto-didacte.<br><br>
                Au cours de mon cursus, j'ai été amené à développer une grande technicité et un esprit analytique pointu. Maîtrisant plusieurs langages de programmations et possédant une excellente connaissance des différents systèmes d'exploitations, je suis capable de m’adapter et de faire face à n’importe quelle difficulté. Aussi bien en tant que développeur, qu’en tant que concepteur graphique.
            </p>
            <div class="framework">
                <div class="frame-item">
                    <img src="/assets/icons/nodeJs.png" alt="nodejs">
                </div>
                <div class="frame-item">
                    <img src="/assets/icons/angular.png" alt="Angular">
                </div>
                <div class="frame-item">
                    <img src="/assets/icons/mongoDb.png" alt="MongoDB">
                </div>
                <div class="frame-item">
                    <img src="/assets/icons/symfony.png" alt="Symfony">
                </div>
            </div>
        </div>
        <div class="right">
            <h3>Technologie utilisées</h3>
            <div class="langage">
                <div class="lang-item">
                    <div class="niveau-html level">
                        <span>HTML / CSS</span>
                    </div>
                </div>
                <div class="lang-item">
                    <div class="niveau-js level">
                        <span>JAVASCRIPT</span>
                    </div>
                </div>
                <div class="lang-item">
                    <div class="niveau-php level">
                        <span>PHP</span>
                    </div>
                </div>
                <div class="lang-item">
                    <div class="niveau-sql level">
                        <span>SQL</span>
                    </div>
                </div>
                <div class="lang-item">
                    <div class="niveau-sharp level">
                        <span>C#</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-service">
        <h2>Conception graphique</h2>
        <div class="design">
            <div class="design-item">
                <div class="design-level photoshop"><span>photoshop</span></div>
            </div>
            <div class="design-item">
                <div class="design-level xd"><span>Adobe xd</span></div>                    
            </div>
            <div class="design-item">
                <div class="design-level figma"><span>Figma</span></div>                    
            </div>
        </div>
        <div class="item-des">
            <div class="serv-item-des">
                <div class="icon-serv-des">
                    <img src="/assets/icons/iconDesign.png" alt="desinger">
                </div>
                <span>Web design</span>
            </div>
            <div class="serv-item-des">
                <div class="icon-serv-des">
                    <img src="assets/icons/iconCard.png" alt="carte de visite">
                </div>
                <span>Carte de visite</span>
            </div>
            <div class="serv-item-des">
                <div class="icon-serv-des">
                    <img src="/assets/icons/iconLogo.png" alt="logo">
                </div>
                <span>Logo</span>
            </div>
            <div class="serv-item-des">
                <div class="icon-serv-des">
                    <img src="/assets/icons/iconMobile.png" alt="Application mobile">
                </div>
                <span>Application mobile</span>
            </div>
        </div>
        <div class="cv">
            <a href="/assets/cv_dev_web.pdf" target="_blank" rel="noopener noreferrer">
            <button>
                <div class="icon-cv">
                    <span>Télécharger cv</span>
                    <img src="/assets/icons/iconDownload.png" alt="telecharger cv">
                </div>
            </button></a>
        </div>
    </div>
</div>