<div class="head-dev real-head">
    <p>Developpement et conception graphique</p>
</div>
<div id="real" class="real">
    <div class="real-illustre">
        <img src="/assets/image/res 2.png" alt="web designer">
    </div>
    <div class="real-grid">
        <div class="grid-item grid-item-portfolio">
            <div class="desc">
                <h3>Portfolio</h3>
                <div class="list-group">
                    <div class="list-group-item first">Figma</div>
                    <div class="list-group-item">Framework Angular</div>
                    <div class="list-group-item">Node.js (Express.js)</div>
                    <div class="list-group-item">MongoDB Atlas</div>
                </div>
                <div class="btn-box">
                    <a href="https://github.com/mmcolo/portfolio" target="_blank" class="btn-link">GitHub</a>
                    <a href="https://www.figma.com/file/imTHzRBL07sCTNhAvYsYYg/Untitled?node-id=0%3A1" target="_blank" class="btn-link">Figma</a>
                </div>
            </div>
        </div>
        <div class="grid-item grid-item-backnode">
            <div class="desc">
                <h3>API-REST Javascript</h3>
                <div class="list-group">
                    <div class="list-group-item first">Node.js (Express js)</div>
                    <div class="list-group-item">MongoDb Atlas</div>
                    <div class="list-group-item">MySQL</div>
                </div>
                <span class="sub-title">Dépot GitHub</span>
                <div class="btn-box">
                    <a href="https://github.com/mmcolo/NodeAPI" target="_blank" class="btn-link">MongoDb</a>
                    <a href="https://github.com/mmcolo/back-mysql" target="_blank" class="btn-link">MySQL</a>
                </div>
            </div>
        </div>
        <div class="grid-item grid-item-cartech">
            <div class="desc">
                <h3>Site vitrine</h3>
                <div class="list-group">
                    <div class="list-group-item first">Framework Angular</div>
                    <div class="list-group-item">Bootstrap</div>
                    <div class="list-group-item">Node.js (Express js)</div>
                </div>
                <div class="btn-box">
                    <a href="https://github.com/mmcolo/cartech" target="_blank" class="btn-link">GitHub</a>
                </div>
            </div>
        </div>
        <div class="grid-item grid-item-agency">
            <div class="desc">
                <h3>Legacy Agency</h3>
                <div class="list-group">
                    <div class="list-group-item first">Figma</div>
                    <div class="list-group-item">Html / CSS</div>
                    <div class="list-group-item">Javascript</div>
                </div>
                <div class="btn-box">
                    <a href="https://github.com/mmcolo/agency" target="_blank" class="btn-link">GitHub</a>
                    <a href="https://www.figma.com/file/5vOCItrMW6dSYZghRldJpW/Untitled?node-id=36%3A3" target="_blank" class="btn-link">Figma</a>
                </div>
            </div>
        </div>
    </div>
</div>