<div class="head-dev contact-head">
    <p>Me contacter</p>
</div>
<div id="form" class="contact">
    <div class="toast" *ngIf="toast !=''" [ngClass]="{'bgSuccess': toastClass, 'bgWarning': toastClass == false, 'infoClass' : infoClass}" >
        {{toast}}
    </div>       
    <div class="left-contact">
        <div class="right-nav-contact">
            <div class="content-right-nav">
                
            </div>
        </div>
        <div class="copyright">
            <p>copyright &copy; Miftahou MCOLO 2020</p>
        </div>
    </div>
    <div class="right-contact">
        <div class="top-right-contact">
            <p>
                Vous pouvez remplire le champs "Contact" avec un adresse mail ou un numéro de téléphone.<br>
                Dans le cas ou vous attendez un réponse de ma part. <br>
                <span>Les informations et les messages ne seront pas conservés</span>
            </p>
        </div>
        <div class="form">
            <h2>Contact</h2>
            <form [formGroup]="commentForm" (ngSubmit)="onSubmitForm()">
                <input type="text" id="email" placeholder="exemple@gmail.com" formControlName="email">
                <textarea class="message" id="content" placeholder="Message" formControlName="content"></textarea>

                <div class="form-button">
                    <button class="btnSubmit" type="submit">Envoyer</button>
                    <button class="btnClear" type="reset">Effacer</button>
                </div>
            </form>
        </div>

        <div class="reseau">        <!--
            <div class="item-reseau">
                <a href="#">
                    <img src="/assets/icons/rFacebook.png" alt="Miftahou MCOLO">
                </a>
            </div>
            <div class="item-reseau">
                <a href="#">
                    <img src="/assets/icons/rSnap.png" alt="Miftahou MCOLO">
                </a>
            </div>
            <div class="item-reseau">
                <a href="https://twitter.com/?lang=fr">
                    <img src="/assets/icons/rTwitter.png" alt="Miftahou MCOLO">
                </a>
            </div>
            <div class="item-reseau">
                <a href="https://www.instagram.com/mcolomims/" target="_blank">
                    <img src="/assets/icons/rInstagram.png" alt="Miftahou MCOLO">
                </a>
            </div>    -->
            <a class="footLink" [routerLink]="['/home']" fragment="presente">Accueil</a>
            <a class="footLink" [routerLink]="['/home']" fragment="service">Service</a>
            <a class="footLink" [routerLink]="['/home']" fragment="real">Réalisation</a>
            <a class="footLink" href="/assets/cv_dev_web.pdf" target="blank">Cv-dev-web</a>
        </div>

    </div>
</div>